<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie przepisy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<div class="container">
    <h1>Wszystkie dostępne przepisy</h1>
    <p>Oto wszystkie, niekoniecznie możliwe do zrobienia, przepisy.</p>
    <div th:each="recipe: ${recipes}">
        <div th:replace="recipecard :: recipecard(${recipe.name}, ${recipe.description}, ${recipe.id})"></div>
    </div>
</div>
</body>
</html>