<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
<div class="container">
    <h1>Witaj <span th:text="${username}">username</span>! :)</h1>

    <div th:if="${recipes!=null and !recipes.isEmpty()}">
        <h3>Przepisy które możesz wykonać</h3>
        <div th:each="recipe: ${recipes}">
            <div th:insert="recipecard :: recipecard(${recipe.name}, ${recipe.description}, ${recipe.id})"></div>
        </div>
    </div>
    <div th:unless="${recipes!=null and !recipes.isEmpty()}">
        <p>
            Nie masz chwilowo przepisów możliwych do wykonania,
            dodaj składniki do lodówki lub pooglądaj wszystkie
            przepisy dla inspiracji
        </p>
    </div>

</div>
</body>
</html>